

<mat-sidenav-container class = "tp-container">
    <mat-sidenav style="width: 20%;background-color: #545454;" mode = "side" opened>
        <section>
            <img style="height: 200px;" height="150px" width="100%" src="/assets/Images/Logo1.png"> 
           </section>
       <section class = "tp-section">
        <a style="text-decoration: none; color:#91d128;" routerLink="projects" >Projects</a> 
       </section>
       <section class = "tp-section">
        <a style="text-decoration: none; color:#f58611;" routerLink="epics">Epics</a>
       </section>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
 </mat-sidenav-container>
